@use "variables";

* {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: variables.$font;
  margin: 0;
  padding: 0;
}

picture,
img {
  display: block;
}

.navbar .menu-icon-mobile {
  margin: 2rem;
}
// Navbar

.header .name-header {
  display: none;
}
.hero-container .name-header{
  display: flex;
}

.name-header {
  align-items: center;
  position: relative;
  justify-content: start;
  align-self: start;
  grid-row: 1;
  grid-column: 1/2;
  column-gap: 80%;
}

.name-header h1 {
  font-size: 2.5rem;
  color: variables.$white;
}

.navbar,
.navbar ul {
  align-items: center;
}

.header {
  z-index: 1;
  color: variables.$black;
  position: fixed;
  top: 0;
  background-color: variables.$white;
  width: 100%;
  font-size: 2rem;
  display: block;
  transition: transform 2s;
}

.navbar {
  min-height: 8rem;
  display: flex;
}

.navbar-list-items {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: inherit;
}

.nav-item-links a {
  text-transform: lowercase;
  font-size: 2rem;
  text-decoration: none;
  color: variables.$black;
  cursor: pointer;
}

.navbar-list-items li:hover {
  text-decoration: underline;
}

// Hero section

.hero-container {
  width: 100%;
}

.hero-container img,
.hero-container picture {
  width: 100%;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
}

.hero-container > picture,
.hero-container > picture > img {
  grid-row: 1;
  grid-column: 1/4;
  min-height: 100%;
  object-fit: fill;
}

.toggle-img {
  width: auto;
  margin-left: 1rem;
}

.slider-buttons {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: end;
  align-self: end;
  grid-column: 2/4;
  grid-row: 1;
}

.slider-img {
  color: variables.$veryDarkGray;
  background-color: variables.$black;
  width: 1rem;
  vertical-align: middle;
}

.slider-button {
  padding: 2rem;
  background-color: variables.$black;
  cursor: pointer;
}

// Content

.content-heading {
  font-size: 3rem;
}

.content p {
  font-size: 2rem;
  color: variables.$darkGray;
  line-height: 3rem;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 3rem 3rem 3rem;
  letter-spacing: 0.2rem;
}

.shopping {
  margin: 3rem;
  display: flex;
  align-items: center;
  :hover {
    color: variables.$darkGray;
  }
}
// Shopping

.shopping button {
  border: 0px;
  background-color: transparent;
 
  
}

.shopping-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1rem;
}

// Menu icon

.menu-icon-mobile {
  background-color: transparent;
  border: 0px;
}

// About

.about-section {
  margin: 3rem;
}

.about-heading {
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 4rem;
}

.about-details{
  font-size: 2rem;
  color: variables.$darkGray;
  line-height: 3rem;
}

.about-hero img {
  width: 100%;
}

// Hide inactive content (Slider)
.inactive {
  display: none;
}

// Hover query
@media (hover: hover) and (pointer: fine) {
  .slider-buttons {
    :hover {
      background-color: variables.$darkGray;
    }
    :hover img {
      background-color: variables.$darkGray;
    }
  }
}

// Desktop
@media screen and (min-width: 800px) {
  .about-section {
    display: flex;
  }
  .menu-icon-mobile {
    display: none;
  }
  .header {
    transform: translateX(0%);
  }
  .content-heading {
    font-size: 4.5rem;
  }
  .about-section {
    margin: 0rem;

  }
  .about-hero img {
    height: 100%;
  }
  .about-content {
    margin: 0rem 3rem 0rem 3rem;
    flex: 0.87;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit,minmax(250px,1fr))
  }
  .header {
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: transparent;
    position: static;
  }
  .hero-container {
    grid-row: 1/2;
    grid-column: 1/3;
  }
  .slider-buttons {
    grid-column: 4;
    grid-row: 1;
    place-self: start;
    align-self: end;
    z-index: 1;
    
  }
  main {
    grid-row: 1/2;
    grid-column: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .navbar-list-items {
    color: variables.$white;
  }
  .slider-button {
    padding: 3rem;
  }
  .about-section {
    grid-row: 2;
    grid-column: 1/5;
  }


  .about-hero{
    flex:1;
  }

  .navbar-list-items {
    width: 60%;
  }
  .nav-item-links a {
    color: variables.$white;
  }
  .header .name-header {
    display: block;
  }
  .hero-container .name-header {
    display: none;
  }
  .about-heading {
    font-size: 2.5rem;
  }
}



